* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* https://coolors.co/2ec0f9-67aaf9-9bbdf9-c4e0f9-b95f89 */
.bg-capri {
  background-color: #2ec0f9;
}
.bg-french-sky {
  background-color: #67aaf9;
}
.bg-baby-blue {
  background-color: #9bbdf9;
}
.bg-beau-blue {
  background-color: #c4e0f9;
}
.bg-mulberry {
  background-color: #b95f89;
}
.-mt-4 {
  margin-top: -4rem;
}
.h-40-vh {
  height: 40vh;
}
.h-50-vh {
  height: 50vh;
}
.h-60-vh {
  height: 60vh;
}
.h-70-vh {
  height: 70vh;
}
.h-80-vh {
  height: 80vh;
}
#gmap_canvas {
  height: 100%;
  width: 100%;
}

.object-fit-cover {
  object-fit: cover;
}
.resize-none {
  resize: none;
}

body {
  font-family: "IBM Plex Sans", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.carousel-item {
  height: 50vh;
}

.carousel-caption h3 {
  background: rgba(255, 255, 255, 0.4);
}

.tool-icon {
  width: 4rem;
}

.project-card-img {
  height: 15rem;
}

.fab {
  font-size: 1.5rem;
}
